<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Home</h1>
  <hr>
  <form action="/" enctype="multipart/form-data" method="POST">
    <div>
      <label for="">名称：</label>
      <input type="text" name="name" value="postbird">
    </div>
    <div>
      <label for="">图片：</label>
      <input type="file" name="photo[]">
      <input type="file" name="photo[]">
      <input type="file" name="photo[]">
    </div>
    <div>
      <button>submit</button>
    </div>
  </form>
  <hr>
</body>

</html>